<div class="container">
    <div class="py-3 text-center">
        <form>
            <div class="pt-2 form-group">
                <select class="form-control" (onSelect) = "getSubCategories(this)">
                    <option disabled>Select your car category</option>
                    <option *ngFor = "let category of categories" [value]="category.categoryId">
                        {{category.categoryName}}
                    </option>
                </select>
            </div>
            <div class="pt-2 form-group">
                <select class="form-control">
                    <option disabled>Select your car type</option>
                    <option *ngFor = "let subCategory of subCategories" value="">{{subCategory.subCategoryName}}</option>
                    
                </select>
            </div>
            <div class="pt-2 form-group">
                <table class="w-100">
                    <tr>
                        <td rowspan="2" class="bg-light w-25 text-left pl-2"><i class="las la-map-marker-alt"></i> From</td>
                        <td>
                            <select id="fromState" class="form-control">
                                <option disabled>Select State</option>
                                <option *ngFor = "" value=""></option>
                                
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control">
                                <option disabled>Select City</option>
                                <option *ngFor = "" value=""></option>
                                
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pt-2 form-group">
                <table class="w-100">
                    <tr>
                        <td rowspan="2" class="bg-light w-25 text-left pl-2"><i class="las la-map-marker-alt"></i> To</td>
                        <td>
                            <select id="toState" class="form-control">
                                <option disabled>Select State</option>
                                <option *ngFor = "" value=""></option>
                                
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control">
                                <option disabled>Select City</option>
                                <option *ngFor = "" value=""></option>
                                
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pt-2 form-group">
                <table class="w-100">
                    <tr>
                        <td rowspan="2" class="bg-light w-50 text-left pl-2"><i class="las la-calendar-alt"></i> Date of Travel</td>
                        <td>
                            <input type="date" id="dateOfTravel" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pt-2 form-group">
                <input type="submit" class="form-control btn font-weight-bold bg-yellow text-white" value="BOOK CAR">
            </div>
        </form>
    </div>
</div>


