<div>
    <nav class="navbar navbar-expand-sm fixed-top bg-light">

        <span class="navbar-brand">Paycarz - Top Car rental deals - Save big</span>

        <!-- Links -->
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz-home" [routerLinkActiveOptions] = "{ exact : true }">Home</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz-home/app-customer-services">Services</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz-home/app-gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz-home/app-reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive = "active" class="nav-link" routerLink="/paycarz-home/app-about-us">About Us</a>
            </li>
            <li class="nav-item">
                <!-- <a routerLinkActive = "active" class="nav-link" routerLink="">Contact</a> -->
            </li>
            <li class="nav-item">
                <!-- <a routerLinkActive = "active" class="nav-link" routerLink="">Sign In</a> -->
            </li>
            <li class="nav-item">
                <!-- <a routerLinkActive = "active" class="nav-link" routerLink="">Sign Up</a> -->
            </li>
        </ul>

    </nav>
</div>