$primary-color: grey;
$secondary-color: rgb(35, 165, 204);

.outer{
    background-color: lighten($primary-color, $amount: 40%);
    text-align: center;
    display: flex;
    padding: 2rem;
    font-size: large;
}

.to-do-card{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    box-shadow: 2px 5px 10px $primary-color;
    font-family: "Times New Roman", Times, serif;
}

.styled-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: lighten($primary-color, $amount: 30%);
    padding: 1rem;
}
  
.no-outline:focus {
    outline: none;
}

.button{
    background-color: $primary-color;
    color: lighten($primary-color, $amount: 40%);
}

.p-0{
    padding: 0px !important;
}

.pl-0_5{
    padding-left: 0.5rem !important;
}

.p-1{
    padding: 1rem !important;
}

.pt-1{
    padding-top: 1rem !important;
}

.pr-1{
    padding-right: 1rem !important;
}

.pb-1{
    padding-bottom: 1rem !important;
}

.py-1{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pb-2{
    padding-bottom: 2rem !important;
}

.px-0_5{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.px-2{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.m-0{
    margin: 0px !important;
}

.mt-0_5{
    margin-top: 0.5rem !important;
}

.mt-1{
    margin-top: 1rem !important;
}

.mb-1{
    margin-bottom: 1rem !important;
}

.w-100{
    width: 100%;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none !important;
}

.fr{
    float: right;
}

.min-height-48{
    min-height: 48px;
}

.to-do-item{
    min-height: 48px;
    background-color: lighten($primary-color, $amount: 40%);
    border-top: 2px solid white;
    &:hover{
        background-color: lighten($primary-color, $amount: 35%);
    }
}

.done{
    text-decoration: line-through;
    background-color: lighten($primary-color, $amount: 45%);
    color: $primary-color;
}

input[type = checkbox]{
    height: 18px;
}

.to-do-text{
    text-align: left;
}

.heading{
    font-size: xx-large;
    text-decoration: solid;
    color: $secondary-color;
}

.heading-div{
    justify-content: center;
}

.remove-icon{
    font-size: 24px;
    color: $secondary-color;
    cursor: pointer;
    &:hover{
        color: darken($secondary-color, $amount: 10%);
    }
}

.to-do-done{
    margin-top: 3px;
}

.to-do-filter{
    justify-content: center;
    background-color: lighten($primary-color, $amount: 25%);
    border-top: 1px solid white;
    border-bottom: 2px solid white;
    border-right: 1px solid white;
    font-size: initial;
    margin-top: 0;
    margin-bottom: 0;
    &:hover{
        background-color: lighten($primary-color, $amount: 20%);
        cursor: pointer;
    }
    &-clicked{
        border-bottom: 2px solid $secondary-color;
    }
}